<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <div style="text-align:center" padding>

      <canvas id="lineChart" ></canvas>
      <!-- <canvas id="barChart"></canvas>
        <canvas id="pieChart"></canvas> -->
      </div>
  </ion-card>
</ion-content>
